$default : #2bbbad!important;
footer.page-footer .footer-copyright {
    background: $default;
}

hr {
    border-top: none !important;
}

.my-4{
    margin-bottom: 0 !important;
}
.ml-cond{
    margin-left: -270px !important
}